body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

main {
  color: #212121;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

:root {
  --accent-color: #2196f3;
  --text-color: #757575;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* -- HEADER -- */

.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-blk {
  color: #000000;
}

.logo-wht {
  color: #ffffff;
}

.header-link {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link-active {
  color: var(--accent-color);
}

.header-link-tel,
.header-link-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.header-link-tel:hover,
.header-link-tel:focus {
  color: var(--accent-color);
}

.header-link-mail:hover,
.header-link-mail:focus {
  color: var(--accent-color);
}

/* ------- HERO ------- */

.hero {
  background: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  font-family: inherit;
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
}

/* ------- FEATURES ------- */

.features-subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ------- LINE ------- */

.line-title,
.about-title {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ----- ABOUT ----- */

.about-subtitle {
  font-style: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.about-text,
.portfolio-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* ----- FOOTER ----- */

footer {
  background-color: #2f303a;
}

.address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-link-tel,
.footer-link-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-link-tel:hover,
.footer-link-tel:focus {
  color: var(--accent-color);
}

.address:hover,
.address:focus {
  color: var(--accent-color);
}

.footer-link-mail:hover,
.footer-link-mail:focus {
  color: var(--accent-color);
}

/* ----- Портфолио ----- */

.portfolio-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.portfolio-button:hover,
.portfolio-button:focus {
  background: var(--accent-color);
  color: #ffffff;
}

.portfolio-subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  line-height: 1.87;
}

.current {
  color: var(--accent-color);
}
